apply-groups [ basic OSPF ];
routing-options {

    router-id {{ loopback }};
}
protocols {
    ospf {
  {% for area in areas %}
        area {{ area.area_id }} {
        {% for item in area.interfaces %}
        interface {{ item }};
        {% endfor %}
        }
  {% endfor %}
  }
}
