{% if protocols.bgp %}
router bgp {{ bgp_as_number }} {
    {% if bgp_router_id %}
    router-id {{ bgp_router_id }};
    {% endif %}

    {% if bgp_multipath %}
    multipath;
    {% endif %}

    {% for neighbor in bgp_neighbors %}
    neighbor {{ neighbor.address }} {
        {% if neighbor.peer_as %}
        peer-as {{ neighbor.peer_as }};
        {% endif %}

        {% if neighbor.description %}
        description "{{ neighbor.description }}";
        {% endif %}

        {% if neighbor.import_policies %}
        import [
            {% for policy in neighbor.import_policies %}
            {{ policy }}
            {% endfor %}
        ];
        {% endif %}

        {% if neighbor.export_policies %}
        export [
            {% for policy in neighbor.export_policies %}
            {{ policy }}
            {% endfor %}
        ];
        {% endif %}

        {% if neighbor.family %}
        family {{ neighbor.family }} {
            {% if neighbor.family.inet %}
            inet {
                unicast;
            }
            {% endif %}
            {% if neighbor.family.inet6 %}
            inet6 {
                unicast;
            }
            {% endif %}
            {% if neighbor.family.mpls %}
            mpls;
            {% endif %}
        }
        {% endif %}

        {% if neighbor.ttl %}
        ttl {{ neighbor.ttl }};
        {% endif %}

        {% if neighbor.bfd %}
        bfd;
        {% endif %}

    }
    {% endfor %}

    {% if bgp_groups %}
    {% for group in bgp_groups %}
    group {{ group.name }} {
        type {{ group.type }};
        {% if group.import_policies %}
        import [
            {% for policy in group.import_policies %}
            {{ policy }}
            {% endfor %}
        ];
        {% endif %}
        {% if group.export_policies %}
        export [
            {% for policy in group.export_policies %}
            {{ policy }}
            {% endfor %}
        ];
        {% endif %}
        {% for neighbor in group.neighbors %}
        neighbor {{ neighbor }};
        {% endfor %}
    }
    {% endfor %}
    {% endif %}
}
{% endif %}
