{% for interface in interfaces %}
interface {{ interface.name }} {
    {% if interface.description %}
    description "{{ interface.description }}";
    {% endif %}

    {% if interface.unit %}
    {% for unit in interface.unit %}
    unit {{ unit.number }} {
        {% if unit.description %}
        description "{{ unit.description }}";
        {% endif %}

        {% if unit.family %}
        family {{ unit.family.name }} {
            {% if unit.family.address %}
            address {{ unit.family.address }};
            {% endif %}
            {% if unit.family.filter %}
            filter {
                {% if unit.family.filter.input %}
                input {{ unit.family.filter.input }};
                {% endif %}
                {% if unit.family.filter.output %}
                output {{ unit.family.filter.output }};
                {% endif %}
            }
            {% endif %}
        }
        {% endif %}
    }
    {% endfor %}
    {% endif %}

    {% if interface.mtu %}
    mtu {{ interface.mtu }};
    {% endif %}

    {% if interface.hold_time %}
    hold-time {{ interface.hold_time }};
    {% endif %}

    {% if interface.disable %}
    disable;
    {% endif %}

    {% if interface.vlan_tagging %}
    vlan-tagging;
    {% endif %}

    {% if interface.aggregated_ethernet %}
    aggregated-ethernet {
      {% if interface.aggregated_ethernet.members %}
      members [
        {% for member in interface.aggregated_ethernet.members %}
        {{ member }}
        {% endfor %}
      ];
      {% endif %}

      {% if interface.aggregated_ethernet.lacp %}
      lacp {
        {% if interface.aggregated_ethernet.lacp.mode %}
        mode {{ interface.aggregated_ethernet.lacp.mode }};
        {% endif %}
      }
      {% endif %}
    }
    {% endif %}

}
{% endfor %}
